* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #383b40;
    opacity: 65%;
    color: #fafafa;
    font-family: "Roboto-Regular", sans-serif;
    height: 100vh;
    overflow: hidden;
    min-height: 580px;
}

.app {
    display: flex;
}

:focus {
    outline-style: none;
    outline-width: 0 !important;
    outline-color: transparent !important;
}

a {
    text-decoration: none !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* HEADER */
header {
    background: #383b40;
    width: 100%;
    list-style: none;
    border-bottom: 3px solid #5e5e5e;
    padding: 5px;
}

.fa-ellipsis-v {
    padding: 10px;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 2px;
}

.header__content {
    display: flex;
    position: relative;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
}

/* BURGER MENU BUTTON */

.menu__btn,
.settings__btn {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}

.menu__btn {
    visibility: hidden;
}

.menu__btn span::after,
.menu__btn span::before {
    content: '';
    display: block;
}
.menu__btn span,
.menu__btn span::before,
.menu__btn span::after {
  position: absolute;
  top: 50%; margin-top: -1px;
  left: 50%; margin-left: -10px;
  width: 20px;
  height: 2px;
  background-color: #222;
}

.menu__btn span::before {
    transform: translateY(-5px);
  }
  .menu__btn span::after {
    transform: translateY(5px);
  }

/* SETTINGS ICON */

.settings__btn span::before,
.settings__btn span::after {
    content: '';
    display: block;
}

.settings__btn span::before,
.settings__btn span::after,
.settings__btn span {
    position: absolute;
    top: 50%; margin-top: -4px;
    left: 50%; margin-left: -4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #222;
}

.settings__btn span::before{
    transform: translateY(11px);
}

.settings__btn span::after{
    transform: translateY(-11px);
}

/* SOMETHING */

.list__item {
    display: flex;
    justify-content: space-between;
}

aside {
    padding: 15px;
    background: #2d2f34;
    transition: ease-out .1s;
    z-index: 1;
    border-right: 3px solid #5e5e5e;
    overflow: auto;
    height: 100vh;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.list__items-wrap {
    overflow: auto;
}

.list__item {
    font-size: 20px;
    border-bottom: 1px solid #010101;
    margin: 5px;
    cursor: pointer;
    position: relative;
}

.list__item:hover {
    opacity: 75%;
}

.delete__list-icon {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: -30px;
    transition: all .3s ease;
    height: 100%;
}

.delete__list-icon:hover {
    fill: rgba(210,13,20,0.7);
}

.list__item:hover .delete__list-icon{
    left: 0;
    visibility: visible;
    opacity: 1;
}

.list__item-name {
    width: 100%;
    border: none;
    background: none;
    color: #fafafa;
    padding: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: all .3s ease;
    margin-left: 25px;
}

.list__item:hover .list__item-name {
    margin-left: 25px;
}

.list__item-name:focus {
    background: #383b40;
}

.list__item-count {
    font-size: 18px;
    padding: 5px;
}

.create__list-btn {
    border: none;
    background: none;
    color: gray;
    cursor: pointer;
    font-size: 18px;
    padding: 5px;
    margin-top: 5px;
    width: 275px;
    text-align: left;
    margin-bottom: 60px;
}

main {
    position: relative;
    width: 100%;
    transition: ease-out .1s;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.task__items-wrap {
    overflow: auto;
}

.task__items {
    padding: 10px;
}

.task__item {
    display: none;
}

.task {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    background: #222221;
    border: 1px solid #010101;
    color: #fafafa;
    margin-bottom: 15px;
}

.task__input-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    padding: 10px 25px 0 10px;
}

.task__input {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    background: #222221;
    border: 1px solid #010101;
    color: #fafafa;
}

/* MODAL-GREET */

.modal__greet {
    display: flex;
    transition: ease-in .3s;
}

.modal__greet .overlay {
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__greet .modal__content {
    text-align: center;
    font-size: 1.6rem;
}

.modal__greet .modal__body {
    margin-top: 1.6rem;
}

/* FOR JS */

.hide {
    visibility: hidden;
    opacity: 0;
}

.disabled { 
    display: none;
}

/* SETITNGS */

.closeBtn {
    display: flex;
    float: right;
    color: black;
    cursor: pointer;
    padding: 10px;
    font-size: 1.3rem;
}

.line {
    height: 10px;
    background: #ccc;
    width: 100%;
}

.modal {
    transition: .2s ease-in-out;
}

.modal .overlay {
    z-index: 12;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content-settings {
    width: 25%;
    background: white;  
    border-radius: 5px;
}

.modal-content-settings .settings__header {
    text-align: center;
    font-size: 3rem;
    color: #000;
    padding: 10px;
}

.modal-content-settings .settings__body {
    text-align: left;
    font-size: 1.6rem;
    color: #000;
    padding: 30px;
}

.modal-content-settings .settings__body ul{
    list-style: none;
}

.modal-content-settings .settings__body ul li{
    opacity: .85;
    margin: 10px;
    cursor: pointer
}

.modal-content-settings .settings__body ul li:hover {
    opacity: 1;
}

.modal-content-settings .settings__footer {
    color: black;
    font-size: 1.6rem;
    padding: 10px;
    display: flex;
    justify-content: center;
}

/* ADAPТИВНОСТЬ */

@media (max-width: 992px) {
    .modal-content-settings {
        width: 70%;
    }
    .modal-content-settings .settings__header {
        font-size: 2.6rem;
    }
}

@media (max-width: 576px) {

    .d-mob-none {
        display: none;
    }

    aside {
        width: 100%;
        position: absolute;
        z-index: 11;
        border: none;
    }

    main {
        width: 100%;
        bottom: 0;
    }

    .task__input-wrap {
        margin-bottom: 95px;
    }

    .menu__btn {
        visibility: visible;
    }
}

